body {
  margin: 0;
  padding: 0;
}
/* HOME HREF */
.opening {
  position: fixed;
  top: 40%;
  width: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
}
#finder {
  font-size: 100px;
}

#instructions {
  text-align: center;
  font-size: 100px;
}
#vid {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
.opening button,
.opening input,
.instructions {
  display: none;
}

.opening #contact:focus {
  width: 150px;
  height: 100px;
}

/* SURVEY HREF */
.questionair {
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 90vh;
  text-align: center;
  display: none;
}
.questionair label {
  margin-top: 20px;
  font-size: 100px;
  top: 40%;
  text-align: center;
}
.questionair img {
  width: 79vh;
  height: auto;
  margin: 0 auto;
}
.q {
  position: absolute;
  top: 70%;
  width: 90vh;
  margin: 0 auto;
}

.q .choose {
  width: 20vh;
  border-radius: 4px;
  background-color: rgb(24, 24, 24);
  color: floralwhite;
  transition: background-color 1s;
}

.q .choose:hover {
  background-color: rgb(8, 74, 8);
  cursor: pointer;
}

.match {
  position: fixed;
  top: 70%;
  width: 90vh;
  height: auto;
  margin: 0 auto;
}

#match-name, #match-social {
  text-align: center;
  font-size: 30px;
}