body {
  margin: 0;
  padding: 0;
}
/* HOME HREF */
.opening {
  position: fixed;
  top: 40%;
  width: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
}
#finder {
  font-size: 100px;
}
#instructions {
  text-align: center;
  font-size: 100px;
}
#vid {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
.opening button,
.opening input,
.instructions {
  display: none;
}

/* SURVEY HREF */
.survey {
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 90vh;
  text-align: center;
}
.question label {
    font-size: 100px;
    top: 40%;
    text-align: center;
}
.question img {
    width: 79vh;
    height: auto;
    margin: 0 auto;
}
#q {
    position: fixed;
    top: 70%;
    width: 90vh;
    margin: 0 auto;
}
#q .choose {
    border-radius: 4px;
    background-color: rgb(24, 24, 24);
    color: floralwhite;
    transition: background-color 2s;
}
#q .choose:hover {
    background-color: rgb(8, 74, 8);
}

